@import "tailwindcss";

:root {
  /* primary colors */
  --color-primary-400: 59 130 246; /* blue-400 */
  --color-primary-500: 99 102 241; /* indigo-500 */
  --color-primary-600: 147 51 234; /* purple-600 */

  /* secondary colors */
  --color-secondary-400: 236 72 153; /* pink-400 */
  --color-secondary-500: 219 39 119; /* pink-500 */
  --color-secondary-600: 249 115 22; /* orange-600 */

  /* accent colors */
  --color-accent-400: 34 197 94; /* green-400 */
  --color-accent-500: 16 185 129; /* emerald-500 */
  --color-accent-600: 5 150 105; /* emerald-600 */

  /* warning colors */
  --color-warning-400: 251 191 36; /* yellow-400 */
  --color-warning-500: 245 158 11; /* orange-400 */
  --color-warning-600: 217 119 6; /* yellow-600 */

  /* danger colors */
  --color-danger-400: 248 113 113; /* red-400 */
  --color-danger-500: 236 72 153; /* pink-500 */
  --color-danger-600: 220 38 38; /* red-600 */

  /* background colors */
  --color-bg-primary: 15 23 42; /* slate-900 */
  --color-bg-secondary: 88 28 135; /* purple-900 */
  --color-bg-card: 255 255 255; /* white */

  /* text colors */
  --color-text-primary: 31 41 55; /* gray-800 */
  --color-text-secondary: 75 85 99; /* gray-600 */
  --color-text-muted: 156 163 175; /* gray-400 */
  --color-text-light: 209 213 219; /* gray-300 */
  --color-text-white: 255 255 255; /* white */

  --color-page-transition-top: 33 36 41;
  --color-page-transition-bottom: 13 22 36;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
